Repository eristow/go_learning: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_docker, backend_docker

.gitlab-ci.yml:

stages:
  - test
  - build
  # - deploy  # Uncomment when ready for deployment

variables:
  # Docker image names
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/frontend
  BACKEND_IMAGE: $CI_REGISTRY_IMAGE/backend
  # Cache directories
  PNPM_STORE_DIR: .pnpm-store

# Cache configurations
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .pnpm-store/

frontend_test:
  stage: test
  image: node:23.9
  before_script:
    - npm install -g pnpm
    - cd frontend
    - pnpm install
  script:
    - pnpm run lint
    - pnpm run test
  artifacts:
    paths:
      - frontend/coverage/
    expire_in: 1 week

backend_test:
  stage: test
  image: golang:1.23.6
  before_script:
    - cd backend
    - go mod download
  script:
    - go test -v ./...
  artifacts:
    paths:
      - backend/coverage/
    expire_in: 1 week

frontend_docker:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cd frontend
    - docker build -t $FRONTEND_IMAGE:$CI_COMMIT_SHA -f frontend.Dockerfile .
    - docker tag $FRONTEND_IMAGE:$CI_COMMIT_SHA $FRONTEND_IMAGE:latest
    - docker run --rm $FRONTEND_IMAGE:$CI_COMMIT_SHA sh -c "echo 'Frontend container test successful'"

    # Push only on main branch
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        echo "Pushing frontend images to registry..."
        docker push $FRONTEND_IMAGE:$CI_COMMIT_SHA
        docker push $FRONTEND_IMAGE:latest
      else
        echo "Skipping push on non-main branch"
      fi
  rules:
    - changes:
        - frontend/**/*

backend_docker:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cd backend
    - docker build -t $BACKEND_IMAGE:$CI_COMMIT_SHA -f backend.Dockerfile .
    - docker tag $BACKEND_IMAGE:$CI_COMMIT_SHA $BACKEND_IMAGE:latest
    - docker run --rm $BACKEND_IMAGE:$CI_COMMIT_SHA sh -c "echo 'Backend container test successful'"

    # Push only on main branch
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        echo "Pushing backend images to registry..."
        docker push $BACKEND_IMAGE:$CI_COMMIT_SHA
        docker push $BACKEND_IMAGE:latest
      else
        echo "Skipping push on non-main branch"
      fi
  rules:
    - changes:
        - backend/**/*

# Placeholder for future Terraform deployment to AWS
# deploy_aws:
#   stage: deploy
#   image: hashicorp/terraform:latest
#   before_script:
#     - cd terraform
#     - terraform init
#   script:
#     - terraform validate
#     - terraform plan -out=tfplan
#     - terraform apply -auto-approve tfplan
#   rules:
#     - if: $CI_COMMIT_BRANCH == "main"
#       when: manual  # Requires manual approval

Add creation of .sveltekit folder for frontend Docker image
  frontend/frontend.Dockerfile
Due: frontend_docker

Fixing frontend docker create in gitlab ci
  .gitlab-ci.yml
  frontend/frontend.Dockerfile
Due: frontend_docker

Still fixing docker ci test...
  frontend/frontend.Dockerfile
Due: frontend_docker

Update FE docker entrypoint
  frontend/frontend.Dockerfile
Due: frontend_docker

Add DATABASE_URL env var to backend docker image creation
  .gitlab-ci.yml
  backend/backend.Dockerfile
Due: backend_docker

Feature/add_ci
  .gitlab-ci.yml
  TODO.md
  backend/backend.Dockerfile
  frontend/frontend.Dockerfile
  frontend/src/lib/components/Button.svelte
  frontend/src/lib/components/Input.svelte
  frontend/src/lib/components/NavButton.svelte
  frontend/src/routes/+page.svelte
Due: frontend_docker, backend_docker

Fix inter-app communication.
  .gitlab-ci.yml
  backend/album/handler.go
  backend/album/handler_test.go
  backend/main.go
  backend/setup.go
  docker-compose.yml
  frontend/.tool-versions
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/hooks.server.ts
  frontend/src/lib/db/index.ts
  frontend/vite.config.ts
Due: frontend_docker, backend_docker

Add health check endpoint to backend
  TODO.md
  backend/setup.go
Due: backend_docker

Add healthcheck to frontend.
  docker-compose.yml
  frontend/src/routes/health/+server.ts
Due: frontend_docker

Create initial Terraform config for AWS with ECS Fargate, RDS.
  TODO.md
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/outputs.tf
  terraform/providers.tf
  terraform/variables.tf
Due: none
